<footer class="footer">
  <small>
    <a href=root_path>Fourbeans.com</a>
    by Funny guys
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
    </ul>
  </nav>
</footer>